<ion-header [translucent]="true">
  <ion-toolbar color="new">
    <ion-button slot="start" color="danger">

      <ion-back-button default-href="#"></ion-back-button>
    </ion-button>
    <ion-title>กลับไปหน้าหลัก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="text-center">
    <!--แถวที่1--><ion-row>
      <ion-col>

        <img src="assets/img/pngtree-vector-water-bottle-icon-png-image_872139.jpg " alt="width: 100%;"></ion-col>
      <ion-col>
        <h3 style="margin-bottom: 10%;">ประเภท : ขนม</h3>
        <h3 style="margin-top: 11%; margin-bottom: 10%;" >ขนม</h3><br>
      <h3 style="margin-top: -2%;">ราคา</h3></ion-col>
      
      
        


        
         
    
    